<h1>To-Do App</h1>
<hr>
<div class="container">
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="mb-3">
            <label for="task" class="form-label">Task</label>
            <input type="text" class="form-control" id="task" placeholder="Enter Task" ngModel name="task" required>
            <small *ngIf="taskForm.invalid && taskForm.dirty " id="errorMessage" class="form-text text-danger">Required
                Field</small>
        </div>
        <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Completed</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i">
                <td>{{t.taskName}}</td>
                <td><input (change)="onCheck(i)" id="myCheckBox" type="checkbox"></td>
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>